html, body {
    background-color: #DCDCDC;
    height: 100%;
    margin: 0; 
}

#titulo-linea {
    background-color: black;
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0;
    width: 100%;
}

#logo-un {
    position: absolute;
    top: 5px;
    left: 10px;
}

.titulo {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'PT Sans Narrow';
    font-size: 2.2em;
    font-weight: 800;
    color: white;
}

#creditos {
    text-align: center;
}

iframe {
    padding-top: 50px;
}

#creditos > p {
    color: #5c5c5c;
    font-style: italic;
    font-size: 1.3em;
    padding-top: 10px;
    font-family: 'Libre Baskerville';
}
